---
- name: Create SuperNets within NetBox
  netbox.netbox.netbox_prefix:
#    netbox_url: "{{ lookup('ansible.builtin.env', 'NETBOX_API') }}"
#    netbox_token: "{{ lookup('ansible.builtin.env', 'NETBOX_TOKEN') }}"
     netbox_url: http://192.168.122.29:8000
     netbox_token: 0123456789abcdef0123456789abcdef01234567
     data: "{{ supernet_prefix }}"
     state: present
  loop: "{{ supernet_prefixes }}"
  loop_control: 
    loop_var: supernet_prefix
    label: "{{ supernet_prefix['prefix']}}"
