---
- name: Create VLAN Groups within NetBox
  netbox.netbox.netbox_vlan_group:
#    netbox_url: "{{ lookup('ansible.builtin.env', 'NETBOX_API') }}"
#    netbox_token: "{{ lookup('ansible.builtin.env', 'NETBOX_TOKEN') }}"
     netbox_url: http://192.168.122.29:8000
     netbox_token: 0123456789abcdef0123456789abcdef01234567
     data: "{{ vlan_group }}"
     state: present
  loop: "{{ vlan_groups }}"
  loop_control: 
    loop_var: vlan_group
    label: "{{ vlan_group['name']}}"
