---
- name: Create Prefixes within NetBox
  netbox.netbox.netbox_prefix:
#    netbox_url: "{{ lookup('ansible.builtin.env', 'NETBOX_API') }}"
#    netbox_token: "{{ lookup('ansible.builtin.env', 'NETBOX_TOKEN') }}"
     netbox_url: http://192.168.1.153:8000
     netbox_token: 0123456789abcdef0123456789abcdef01234567
     data: "{{ prefix }}"
     first_available: yes
  loop: "{{ prefixes }}"
  loop_control: 
    loop_var: prefix
    label: "{{ prefix['description']}}"
